.mobile-only {
    display: none;
}

.not-mobile {
    display: block;
    color: red;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .mobile-only {
        display: block;
        font-size: 20px;
    }

    .not-mobile {
        display: none;
    }
}


@font-face {
    font-family: 'Glass Anticua';
    src: url('fonts/glass-anticua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: 'Glass Anticua', sans-serif;

    background-color: #000000;
    color: #333;
    text-align: center;
}

.invitacion {
    max-width: 480px;
    margin: 0 auto;

}

.foto-presentacion  {
    position: relative;
    display: inline-block;


    width: 100%;
    background-color: #ffffff;
}


.foto-presentacion img {
    width: 100%;
    background-color: #ffffff;
}

.contador {
    background-color: #ffffff;
}


#logo-principal {
    position: absolute;
    top: 15%; /* Ajusta según la posición deseada */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
    width: 80%;
    background-color: #00000000;
}



#countdown {
    position: absolute;
    top: 80%; /* Ajusta según la posición deseada */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}

#countdown table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #00000056;
}

.value {
    font-size: 2em; /* Tamaño del número */
    font-weight: bold;
}

.label {
    font-size: 1em; /* Tamaño de las etiquetas */
    margin-top: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); /* Texto más tenue */
}




.ceremonia, .evento, .mesa-regalos, .confirmar-asistencia , .resumen{
    padding:  1px  0px 1px  0px;

    background: #fff;
    border-width: 2px;
    border-color: #e20000;

    margin: 0;
    border: none;
}

.ceremonia img , .evento img ,.resumen img ,.mesa-regalos img {
    width: 100%;
    background-color: #ffffff;
}

.mesa-regalos img {
    width: 70%;
    background-color: #ffffff;
}



button{
    margin: 0px 0px 20px 0px ;
    background: #fff;
    padding: 10px;
    width: 80%;
}

input{
    margin: 0px 0px 20px 0px ;
    background: #fff;
    padding: 10px;
    width: 60%;
}





